# Dependencies
node_modules/

# Environment Variables
.env
backend/.env
frontend/.env

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Build Files
dist/
build/

# Vite
frontend/dist/

# Coverage
coverage/

# VS Code
.vscode/

# Cache
.cache/